{% extends 'shared/layout.html' %}



{% block maincontent %}
<main id="main-home">
    <!-- Form to add new block -->
    <form class="create-block-section" action="/create_board" method="POST">
            <label for="board_name">Board Name</label>
            <input type="text" id="board_name" name="board_name" required placeholder="Name of your Project">
            <label for="members">Members</label>
            <input type="email" class="members" name="members" required placeholder="Email of member">
            <button id="add-btn" type="button" onclick="addMember()">+</button>
            <button id="create-board-btn"type="submit">Create Board</button>
    </form>
    <!-- Blocks display -->
    <div id="blocks-section">
        {% if boards %}
            {% for board in boards %}
            <div class="board-box">
                <h3>{{ board.name }}</h3>
                
                <a href="/board/{{ board.board_id }}">View Board</a>
            </div>
            {% endfor %}
        {% else %}
            <p>No boards found. Create a new one above!</p>
        {% endif %}
    </div>
</main>

{% endblock %}
