<!DOCTYPE html>

<html lang="eng">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Task Managing Application</title>
        <link rel="stylesheet"    href="{{ url_for('static', filename='main/css/main.css') }}">
        <link rel="stylesheet"    href="{{ url_for('static', filename='main/css/navbar.css') }}">
        {% block extracss %}{% endblock %}
        {% block extrajs %}
        <script src="{{ url_for('static', filename='main/js/main.js') }}" defer></script>
        {% endblock %}
    </head>

    <body class="body-style">
        <article class="container">
            <!-- The header  -->
            <header class="final-header">
                <h1 class="header-text">Kanban style task manage application</h1>
            </header>
            <!-- The navigation bar -->
            <nav class="nav-bar">
                <!-- navigation bar in desktop display -->
                <ul class="nav-lists">
                    {% if user != 'Unknown' %}
                        <li class="hello-user" no hover>Hello, {{user}}</li>
                    {% endif %}
                    <li class="nav-list"><a class="nav-link" href="/home">Home</a></li>
                    {% if user != 'Unknown' %}
                        <li class="nav-list"><a class="nav-link"href="/logout">Logout</a></li>
                    {% endif %}
                </ul>
                <!-- navigation bar in mobile display (Dropdown Menu with meenu icon)-->
                <div class="side-bar">
                <input type="checkbox" id="menu-click" title="toggle menu bar">
                        <label for="menu-click" class="menu-icon"></label>
                <div class="dropdown">
                    <a class="nav-link drowdown-link" href="/home">Home</a></li>
                    {% if user != 'Unknown' %}
                        <a class="nav-link drowdown-link" href="/logout">Logout</a>
                    {% endif %}
                </div>
                </div>
            </nav>
            <!-- The main content  -->
            {% block maincontent %}{% endblock %}

            <!-- The footer of the file -->
            <footer class="footer_final">
                <p>@2024 Jiwoo Jeong</p>
            </footer>

        </article>
    </body>
</html>