/* Chat icon for chatting window */
.chat-icon{
    position: fixed;
    width: 3vh;
    height:3vh;
    cursor: pointer;
    background-image: url("../images/chat-icon.png");
    background-size: cover;
    background-position: center;
    right:1vw;
    bottom: 6vh;
    z-index: 1000;
}
/* Checkbox input (for the chat window) is hidden */
#chat-click{
    display: none;
}

/* Style for chat window container */
.chat-window {
    display: none;
    flex-direction: column;
    position: fixed;
    right:2vw;
    bottom:9vh;
    border-radius: 5%;
    background-color:rgb(207, 222, 232);
    text-align: center;
    justify-content: center;
}

/* chat window display option when chat-clicked is clicked*/
#chat-click:checked + .chat-icon + .chat-window {
    display: flex;
}

/* Chat box */
#chat {
    margin:2% 1vh;
    width:70vw;
    height:40vh;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    font-size: 100%;
    resize: none;
    border-radius: 5%;
    border: 0.1rem solid rgb(0, 0, 0);
    overflow-y:auto
}

/* Message from current user */
.my-message {
    margin-right:2%;
    text-align: right;
    color: rgb(0, 0, 255);
}
/* Message from other users */
.others-message {
    margin-left:2%;
    text-align: left;
    color: rgb(99, 96, 106);
}
/* chat default message style */
.chat-text{
    margin-top:10%;
    font-size:200%;
    font-weight: bold;
    text-align: center;
}
/* Enter Message input window */
#message-input{
    font-size:130%;
    margin-top: 1%;
    padding-left: 2%;
    padding-top:1%;
    padding-bottom:1%;
    margin:1% 2%;
}

.close-chat-btn {
    font-weight: bold;
    font-size:100%;
    color:rgb(255, 255, 255);
    background-color: rgb(248, 182, 107);
    padding:2%;
    text-align: center;
}

.close-chat-btn:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(243, 185, 128);
}
